<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset = "utf-8">
<link rel = "stylesheet" href ="css/style1.css">
<link rel = "stylesheet" href ="../css/style2.css">


</head>

<body>
<div class="navbar">
<a href="index.html">Home</a>
<a href="page1.html">Giza</a>
<a href="page2.html">Collosseum</a>
<a href="page3.html">Great wall of china</a>
<a href="page4.html">Petra</a>
<a href="page5.html">Machu Picchu</a>
<a href="page6.html">Christ the Redeemer</a>
<a href="page7.html">Taj Mahal</a>
 <a href= "page8.html">Form</a>


</div>


<h1>7 world wonders</h1>

<img src="/static/all.jpg">
<img src="{{url_for('static', filename='all.jpg')}}" align="middle" />

<div class= "centered1">


















</body>

 </html>
